.wrapper{
    margin: 5px;
}

/* 3 */
h1{
    text-align: center;
}
/*this sets the background color of the entire body*/
body{
    background-color: transparent red;
    background-color: teal;
}

/* 4 */
.background1{
    background-blend-mode: color-burn;
    background-color: brown;
}

/* 5*/

.background2{
    background-image:url("../../assets/hey.jpg");
}

/* 7 */

table, th, td{
    border: 1px solid black;
}