/*For Testing */
/*body {
    background-color: blue;
}*/

/* rule set 1 */
#number-one{
    color: hotpink;
    border-style: ridge;
}

/* rule set 2 */
#number-two{
    font-size: 32px;
    background-color: indianred;
}

/* rule set 3 */
.first-class{
    color: green;
    font-style: italic;
}

/* rule set 4 */
.second-class{
    font-size: 8px;
    background-color: lavenderblush;
}